<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Payment</title>
  <link rel="stylesheet" href="../css/dist/cashier.css">
  <link rel="stylesheet" href="../css/dist/payment.css">
  <link rel="stylesheet" href="../font-awesome/css/all.min.css">
</head>

<body>
  <div class="submenu">
    <div class="payment">
      <div class="payment-header">Pembayaran</div>
      <div class="payment-content">
        <div class="customer">
          <div class="customer-header header">Uang:</div>
          Rp.<div class="customer-content-wrapper content-wrapper">
            <input class=" customer-content auto" readonly value="1000">
            <input class="customer-content input" value="10">
          </div>
        </div>
        <div class=" price">
          <div class="price-header header">Total Belanja:</div>
          Rp.<div class="price-content-wrapper content-wrapper">
            <input class="price-content" readonly>
          </div>
        </div>
        <div class="divider"></div>
        <div class="change">
          <div class="change-header header">Kembalian:</div>
          Rp.<div class="change-content-wrapper content-wrapper">
            <input class="change-content" readonly>
          </div>
        </div>
      </div>
      <div class="payment-actions">
        <button class="cancel">
          <i class="fas fa-times"></i>Batalkan
        </button>
        <button class="proceed">
          <i class="fas fa-check"></i>Selesai
        </button>
      </div>
    </div>
  </div>

  <script>
  </script>
</body>

</html>