<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Barang dan Stok</title>
  <link rel="stylesheet" href="../css/dist/stock.css">
  <link rel="stylesheet" href="../css/dist/search-item.css">
  <link rel="stylesheet" href="../css/dist/cashier.css">
  <link rel="stylesheet" href="../font-awesome/css/all.min.css">
</head>

<body>
  <div class="stock">
    <div class="submenuCover hidden">
      <div class="submenu"></div>
    </div>

    <div class="stock-items">
      <div class="stock-headers">
        <div class="actions header"></div>
        <div class="codes header">Kode Barang</div>
        <div class="names header">Nama Barang</div>
        <div class="quantities header">Satuan</div>
        <div class="buy-prices header">Harga Beli</div>
        <div class="sell-prices header">Harga Jual</div>
        <div class="first-stock header">Stok awal</div>
        <div class="stock-in header">Stok Masuk</div>
        <div class="stock-out header">Stok Keluar</div>
      </div>
    </div>

    <div class="down-bar">
      <div class="notification"></div>
      <div class="save-and-close"></div>
    </div>

    <script type="module" src="../js/pages/stock/main.js"></script>
</body>

</html>