.cancel {
    padding: 40px;
    .header {
        margin-bottom: 50px;
        font-size: 26px;
        text-align: center;
    }
    .options {
        display: flex;
        >div {
            width: 100px;
            margin: auto 20px;
            text-align: center;
            padding: 20px;
            background-color: #DCDCDC;
            font-size: 20px;
            border-radius: 10px;
            transition: .1s all;
            cursor: pointer;
            >i {
                margin-right: 10px;
            }
            &:hover {
                box-shadow: inset 7px 7px 15px rgb(167 166 166 / 30%), inset -7px -7px 7px #c7c7c726, 0px 0px 4px rgb(167 166 166 / 30%);
            }
        }
    }
}