* {
    padding: 0;
    margin: 0;
    border-spacing: 0;
    font-family: 'Goudy Old Style';
    user-select: none;
    transition: .5s all;
}

div.submenuCover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(170, 170, 170, .6);
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    div.submenu {
        background-color: #D0D0D0;
        padding: 10px;
        border-radius: 10px;
        color: #272626;
    }

    &.hidden {
        display: none;
    }
}

div.cashier {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;

    div.left-bar {
        width: 70%;
        height: 100vh;
        background-color: #F6F6F6;

        div.purchases-wrapper {
            height: calc(100vh - 70px);
            overflow: auto;

            table.purchases {
                width: 100%;

                td,
                th {
                    border-right: 1px solid #E6E6E6;
                    border-bottom: 1px solid #E6E6E6;
                }

                th {
                    font-size: 20px;
                    position: sticky;
                    top: 0;
                    background-color: #E6E6E6;
                }

                td {
                    font-size: 18px;
                }

                tr:hover,
                tr.active {
                    background-color: #eeeeee;
                }

                tr.purchases-headers {
                    width: 100%;
                    height: 40px;

                    th.action-header {
                        width: 30px;
                    }

                    th.barcode-header {
                        width: 15%;
                    }

                    th.name-header {
                        width: calc(30% - 30px);
                    }

                    th.amount-header {
                        width: 7.5%;
                    }

                    th.price-header {
                        width: 12.5%;
                    }

                    th.type-header {
                        width: 12.5%;
                    }

                    th.total-price-header {
                        width: 20%;
                    }
                }

                tr.purchases-contents {
                    td.action-content {
                        button {
                            outline: none;
                            border: none;

                            i {
                                font-size: 20px;
                            }

                            background-color: transparent;
                        }

                        &:not(.disabled) {
                            cursor: pointer;
                            transition: .2s all;
                            background-color: transparent;

                            button {
                                cursor: pointer;
                            }

                            &:hover {
                                i.fas.fa-times {
                                    color: red;
                                }

                                background-color: #f89e9e;
                            }
                        }
                    }

                    td {
                        &.no-input {
                            padding: 10px;
                        }

                        input {
                            font-size: 18px !important;
                            padding: 10px;
                            background-color: transparent;
                            border: transparent;
                            width: calc(100% - 20px);
                            transition: .2s all;

                            &.invalid {
                                background-color: #f89e9e !important;
                            }
                        }
                    }

                    td.amount-content input,
                    td.price-content,
                    td.type-content,
                    td.total-price-content {
                        text-align: center;
                    }
                }
            }
        }

        div.left-bottom-bar {
            border-top: 1px solid #E6E6E6;
            height: 69px;
            display: flex;

            >div {
                width: 50%;
            }

            div.notification {
                font-size: 22px;
                margin: 10px 0;
                margin-left: 15px;
                padding: 10px;
                border-radius: 10px;
                box-shadow: #00000012 0px 3px 6px;

                i.notification-icon {
                    margin-right: 20px;
                }

                &.success {
                    background-color: #b1f8a3;
                }

                &.warning {
                    background-color: #f8e39e;
                }

                &.error {
                    background-color: #f89e9e;
                }
            }

            div.total-price {
                display: flex;

                >div {
                    width: 50%;
                    padding: 20px;
                }

                div.total-price-header {
                    text-align: center;
                    font-size: 24px;
                }

                div.total-price-content {
                    font-size: 28px;
                }
            }
        }
    }

    div.right-bar {
        width: calc(30% - 1px);
        height: 100vh;
        background-color: #E6E6E6;
        display: flex;
        flex-direction: column;
        flex: 1;

        div.payment {
            border-bottom: 1px solid #DBDBDB;

            div.payment-header {
                padding-top: 30px;
                text-align: center;
                font-size: 28px;
                margin-bottom: 70px;
            }

            div.payment-content {
                font-size: 24px;
                padding: 20px 40px;

                .customer-money-bar,
                .price-money-bar,
                .change-money-bar {
                    display: flex;

                    >div {
                        padding: 15px 0;
                        width: 50%;
                    }
                }

                div.divider {
                    width: 100%;
                    height: 1px;
                    background-color: #707070;
                }

                div.customer-money-bar-content,
                div.price-money-bar-content,
                div.change-money-bar-content {
                    text-align: right;
                }
            }
        }

        div.shortcuts {
            display: flex;
            flex-wrap: wrap;
            width: 100%;

            div.shortcut {
                width: calc(100% / 4);
                height: calc((100% / 3) - 40px);
                padding: 20px 0;
                text-align: center;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 5px;
                transition: .25s all;

                i.shortcut-icon {
                    font-size: 40px !important;
                    margin-bottom: 10px;
                }

                .shortcut-text{
                    font-size: 18px;
                }

                .shortcut-key{
                    color: #aaa9a9;
                    font-size: 14px;
                }
            }

            div.shortcut.disabled {
                cursor: default;
                opacity: 0.4;
                background-color: #00000049;
            }

            div.shortcut:not(.disabled):hover {
                background-color: #dbdbdb;
                box-shadow: inset 7px 7px 15px rgb(167 166 166 / 30%), inset -7px -7px 7px #c7c7c726, 0px 0px 4px rgb(167 166 166 / 30%);
            }
        }
    }

    color: #707070;
}

@media (max-width: 1250px) {
    div.total-price-header {
        font-size: 20px !important;
    }

    div.total-price-content {
        font-size: 24px !important;
    }

    div.payment-header {
        font-size: 24px !important;
    }

    div.payment-content {
        font-size: 20px !important;
    }

    div.purchase-detail {
        font-size: 24px !important;
    }

    div.notification {
        font-size: 18px !important;
    }

    i.shortcut-icon {
        font-size: 30px !important;
    }
}