.payment {
    margin: auto;
    height: 400px;
    width: 400px;
    .payment-header {
        text-align: center;
        font-size: 28px;
        padding-top: 20px;
    }
    .payment-content {
        padding: 25px 25px;
        margin-top: 20px;
        font-size: 24px;
        >div:not(.divider) {
            margin: 15px 0;
            display: flex;
            >div {
                width: calc(50% - 20px);
            }
            >input {
                width: 50%;
                background-color: transparent;
                border: none;
                font-size: 24px;
                outline: none;
                padding: 0 10px;
            }
            input:not(.customer-content) {
                cursor: default;
            }
        }
        .divider {
            height: 1px;
            background-color: #707070;
            width: 100%;
        }
    }
    .payment-actions {
        padding: 0 40px;
        display: flex;
        width: calc(100% - 80px);
        >button {
            margin: auto;
            text-align: center;
            padding: 25px 30px;
            background-color: #DCDCDC;
            font-size: 20px;
            border-radius: 10px;
            transition: .1s all;
            border: #c5c4c4 1px solid;
            
            >i {
                margin-right: 10px;
            }
            &:hover:not(:disabled) {
                box-shadow: inset 7px 7px 15px rgb(167 166 166 / 30%), inset -7px -7px 7px #c7c7c726, 0px 0px 4px rgb(167 166 166 / 30%);
                cursor: pointer;
            }
            &:hover:disabled{
                cursor: not-allowed;
            }
        }
    }
}