<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/dist/open-transaction.css">
</head>

<body>
    <div class="open-transaction">
        <div class="open-transaction-header">
            <p class="header-text">Buka Transaksi</p>
        </div>

        <div class="open-transaction-table">
            <div class="open-transaction-table__header">
                <div class="open-transaction-table__header__item id">ID</div>
                <div class="open-transaction-table__header__item count">Jumlah Barang</div>
            </div>
            <div class="open-transaction-table__contents">
                <div class="open-transaction-table__contents__item id">000001</div>
                <div class="open-transaction-table__contents__item count">20</div>
            </div>
            <div class="open-transaction-table__contents">
                <div class="open-transaction-table__contents__item id">000001</div>
                <div class="open-transaction-table__contents__item count">20</div>
            </div>
            <div class="open-transaction-table__contents">
                <div class="open-transaction-table__contents__item id">000001</div>
                <div class="open-transaction-table__contents__item count">20</div>
            </div>
            <div class="open-transaction-table__contents">
                <div class="open-transaction-table__contents__item id">000001</div>
                <div class="open-transaction-table__contents__item count">20</div>
            </div>
        </div>
    </div>
</body>

</html>