<div class="open-transaction">
    <div class="header">Daftar Transaksi</div>
    <div class="type-slider">
        <div class="type active">Tersimpan</div>
        <div class="type">Selesai</div>
        <div class="slider"></div>
    </div>

    <div class="content">
        <div class="content-header">
            <div class="id">ID</div>
            <div class="item-bar">Jumlah Item</div>
            <div class="time">Waktu</div>
        </div>
        <div class="content-item">
            <div class="id">#200</div>
            <div class="item-bar active">
                <div class="collapse-button-wrapper"><div class="collapse-button"></div></div>
                <div class="item-count">3 Item</div>
                <div class="item-list">
                    <div class="item-list-child">- Nyahallo</div>
                    <div class="item-list-child">- Kopikap</div>
                    <div class="item-list-child">- Sampoerna Milf</div>
                </div>
            </div>
            <div class="time">11:02</div>
        </div>
        <div class="content-item">
            <div class="id">#201</div>
            <div class="item-bar">
                <div class="collapse-button"></div>
                <div class="item-count">1 Item</div>
                <div class="item-list">
                    <div class="item-list-child">- Nyahallo</div>
                    <div class="item-list-child">- Kopikap</div>
                    <div class="item-list-child">- Sampoerna Milf</div>
                </div>
            </div>
            <div class="time">12:00</div>
        </div>
        <div class="content-item">
            <div class="id">#201</div>
            <div class="item-bar">
                <div class="collapse-button"></div>
                <div class="item-count">2 Item</div>
            </div>
            <div class="time">13:39</div>
        </div>
        <div class="content-item">
            <div class="id">#201</div>
            <div class="item-bar">
                <div class="collapse-button"></div>
                <div class="item-count">10 Item</div>
            </div>
            <div class="time">15:10</div>
        </div>
    </div>
</div>